# Video 10 - Working with DataFrames

In [1]:
import pandas as pd

## Import Data

In [2]:
airport_df = pd.read_csv("Airports.csv")
airport_df.head()

,Rank,Airport,Location,Country,Code,Passengers,Year
0,1,China Guangzhou Baiyun International Airport,"Baiyun-Huadu, Guangzhou, Guangdong",China,CAN/ZGGG,43760427,2020
1,2,United States Hartsfield–Jackson Atlanta Inter...,"Atlanta, Georgia",United States,ATL/KATL,42918685,2020
2,3,China Chengdu Shuangliu International Airport,"Shuangliu-Wuhou, Chengdu, Sichuan",China,CTU/ZUUU,40741509,2020
3,4,United States Dallas/Fort Worth International ...,"Dallas-Fort Worth, Texas",United States,DFW/KDFW,39364990,2020
4,5,China Shenzhen Bao'an International Airport,"Bao'an, Shenzhen, Guangdong",China,SZX/ZGSZ,37916059,2020

## Select Column

In [3]:
# Select column based on column name
airport_df["Airport"]
# output a "series" - 1D dataframe

0           China Guangzhou Baiyun International Airport
1      United States Hartsfield–Jackson Atlanta Inter...
2          China Chengdu Shuangliu International Airport
3      United States Dallas/Fort Worth International ...
4            China Shenzhen Bao'an International Airport
                             ...
245    United States Newark Liberty International Air...
246       Philippines Ninoy Aquino International Airport
247                   Japan Narita International Airport
248    United States Minneapolis/St Paul Internationa...
249                    Qatar Hamad International Airport
Name: Airport, Length: 250, dtype: object

In [5]:
# Select one column as a dataframe
airport_df[["Airport", "Location"]]

,Airport,Location
0,China Guangzhou Baiyun International Airport,"Baiyun-Huadu, Guangzhou, Guangdong"
1,United States Hartsfield–Jackson Atlanta Inter...,"Atlanta, Georgia"
2,China Chengdu Shuangliu International Airport,"Shuangliu-Wuhou, Chengdu, Sichuan"
3,United States Dallas/Fort Worth International ...,"Dallas-Fort Worth, Texas"
4,China Shenzhen Bao'an International Airport,"Bao'an, Shenzhen, Guangdong"
...,...,...
245,United States Newark Liberty International Air...,"Newark, New Jersey"
246,Philippines Ninoy Aquino International Airport,"Pasay/Parañaque, Metro Manila"
247,Japan Narita International Airport,"Narita, Chiba"
248,United States Minneapolis/St Paul Internationa...,"St. Paul, Minnesota"
249,Qatar Hamad International Airport,Doha

## Select Row using .loc[]

In [9]:
# Select row by index 
airport_df.iloc[0]

Rank                                                     1
Airport       China Guangzhou Baiyun International Airport
Location                Baiyun-Huadu, Guangzhou, Guangdong
Country                                              China
Code                                              CAN/ZGGG
Passengers                                        43760427
Year                                                  2020
Name: 0, dtype: object

In [10]:
# Select rows by a condition -- Filtering
airport_df.loc[ airport_df["Country"] == "United States" ]

,Rank,Airport,Location,Country,Code,Passengers,Year
1,2,United States Hartsfield–Jackson Atlanta Inter...,"Atlanta, Georgia",United States,ATL/KATL,42918685,2020
3,4,United States Dallas/Fort Worth International ...,"Dallas-Fort Worth, Texas",United States,DFW/KDFW,39364990,2020
7,8,United States Denver International Airport,"Denver, Colorado",United States,DEN/KDEN,33741129,2020
12,13,United States O'Hare International Airport,"Chicago, Illinois",United States,ORD/KORD,30860251,2020
14,15,United States Los Angeles International Airport,"Los Angeles, California",United States,LAX/KLAX,28779527,2020
...,...,...,...,...,...,...,...
233,34,United States Phoenix Sky Harbor International...,"Phoenix, Arizona",United States,PHX/KPHX,43302381,2016
240,41,United States Orlando International Airport,"Orlando, Florida",United States,MCO/KMCO,41923399,2016
242,43,United States George Bush Intercontinental Air...,"Houston, Texas",United States,IAH/KIAH,41622594,2016
245,46,United States Newark Liberty International Air...,"Newark, New Jersey",United States,EWR/KEWR,40289969,2016
248,49,United States Minneapolis/St Paul Internationa...,"St. Paul, Minnesota",United States,MSP/KMSP,37413728,2016

## Soring DataFrame

In [12]:
# Sort by ascending
airport_df.sort_values("Passengers")

,Rank,Airport,Location,Country,Code,Passengers,Year
49,50,United States Newark Liberty International Air...,"Newark, New Jersey",United States,EWR/KEWR,15892892,2020
48,49,China Beijing Daxing International Airport,"Daxing District, Beijing",China,PKX/ZBAD,16091449,2020
47,48,Russia Moscow Domodedovo Airport,"Domodedovo, Moscow Oblast",Russia,DME/UUDD,16300000,2020
46,47,United States San Francisco International Airport,"San Mateo County, California",United States,SFO/KSFO,16409625,2020
45,46,United States Fort Lauderdale–Hollywood Intern...,"Broward County, Florida",United States,FLL/KFLL,16484132,2020
...,...,...,...,...,...,...,...
101,2,China Beijing Capital International Airport,"Chaoyang-Shunyi, Beijing",China,PEK/ZBAA,100983290,2018
150,1,United States Hartsfield–Jackson Atlanta Inter...,"Atlanta, Georgia",United States,ATL/KATL,103902992,2017
200,1,United States Hartsfield–Jackson Atlanta Inter...,"Atlanta, Georgia",United States,ATL/KATL,104171935,2016
100,1,United States Hartsfield–Jackson Atlanta Inter...,"Atlanta, Georgia",United States,ATL/KATL,107394029,2018
50,1,United States Hartsfield–Jackson Atlanta Inter...,"Atlanta, Georgia",United States,ATL/KATL,110531300,2019

In [13]:
# Sort by descending
airport_df.sort_values("Passengers", ascending=False)

,Rank,Airport,Location,Country,Code,Passengers,Year
50,1,United States Hartsfield–Jackson Atlanta Inter...,"Atlanta, Georgia",United States,ATL/KATL,110531300,2019
100,1,United States Hartsfield–Jackson Atlanta Inter...,"Atlanta, Georgia",United States,ATL/KATL,107394029,2018
200,1,United States Hartsfield–Jackson Atlanta Inter...,"Atlanta, Georgia",United States,ATL/KATL,104171935,2016
150,1,United States Hartsfield–Jackson Atlanta Inter...,"Atlanta, Georgia",United States,ATL/KATL,103902992,2017
101,2,China Beijing Capital International Airport,"Chaoyang-Shunyi, Beijing",China,PEK/ZBAA,100983290,2018
...,...,...,...,...,...,...,...
45,46,United States Fort Lauderdale–Hollywood Intern...,"Broward County, Florida",United States,FLL/KFLL,16484132,2020
46,47,United States San Francisco International Airport,"San Mateo County, California",United States,SFO/KSFO,16409625,2020
47,48,Russia Moscow Domodedovo Airport,"Domodedovo, Moscow Oblast",Russia,DME/UUDD,16300000,2020
48,49,China Beijing Daxing International Airport,"Daxing District, Beijing",China,PKX/ZBAD,16091449,2020
49,50,United States Newark Liberty International Air...,"Newark, New Jersey",United States,EWR/KEWR,15892892,2020

## Append to DataFrame

In [16]:
# Add row
new_row = {"Rank": 101,
           "Airport": "UNC Airport",
           "Location": "Chapel Hill, North Carolina",
           "Country" : "United States",
           "Code": "UNC/KUNC",
           "Passengers": 24000,
           "Year": 2022
          }
new_df = airport_df.append(new_row, ignore_index=True)
new_df

,Rank,Airport,Location,Country,Code,Passengers,Year
0,1,China Guangzhou Baiyun International Airport,"Baiyun-Huadu, Guangzhou, Guangdong",China,CAN/ZGGG,43760427,2020
1,2,United States Hartsfield–Jackson Atlanta Inter...,"Atlanta, Georgia",United States,ATL/KATL,42918685,2020
2,3,China Chengdu Shuangliu International Airport,"Shuangliu-Wuhou, Chengdu, Sichuan",China,CTU/ZUUU,40741509,2020
3,4,United States Dallas/Fort Worth International ...,"Dallas-Fort Worth, Texas",United States,DFW/KDFW,39364990,2020
4,5,China Shenzhen Bao'an International Airport,"Bao'an, Shenzhen, Guangdong",China,SZX/ZGSZ,37916059,2020
...,...,...,...,...,...,...,...
246,47,Philippines Ninoy Aquino International Airport,"Pasay/Parañaque, Metro Manila",Philippines,MNL/RPLL,39534991,2016
247,48,Japan Narita International Airport,"Narita, Chiba",Japan,NRT/RJAA,39000563,2016
248,49,United States Minneapolis/St Paul Internationa...,"St. Paul, Minnesota",United States,MSP/KMSP,37413728,2016
249,50,Qatar Hamad International Airport,Doha,Qatar,DOH/OTHH,37283987,2016
250,101,UNC Airport,"Chapel Hill, North Carolina",United States,UNC/KUNC,24000,2022

## Delete Row

In [17]:
new_df.drop(250)

,Rank,Airport,Location,Country,Code,Passengers,Year
0,1,China Guangzhou Baiyun International Airport,"Baiyun-Huadu, Guangzhou, Guangdong",China,CAN/ZGGG,43760427,2020
1,2,United States Hartsfield–Jackson Atlanta Inter...,"Atlanta, Georgia",United States,ATL/KATL,42918685,2020
2,3,China Chengdu Shuangliu International Airport,"Shuangliu-Wuhou, Chengdu, Sichuan",China,CTU/ZUUU,40741509,2020
3,4,United States Dallas/Fort Worth International ...,"Dallas-Fort Worth, Texas",United States,DFW/KDFW,39364990,2020
4,5,China Shenzhen Bao'an International Airport,"Bao'an, Shenzhen, Guangdong",China,SZX/ZGSZ,37916059,2020
...,...,...,...,...,...,...,...
245,46,United States Newark Liberty International Air...,"Newark, New Jersey",United States,EWR/KEWR,40289969,2016
246,47,Philippines Ninoy Aquino International Airport,"Pasay/Parañaque, Metro Manila",Philippines,MNL/RPLL,39534991,2016
247,48,Japan Narita International Airport,"Narita, Chiba",Japan,NRT/RJAA,39000563,2016
248,49,United States Minneapolis/St Paul Internationa...,"St. Paul, Minnesota",United States,MSP/KMSP,37413728,2016
249,50,Qatar Hamad International Airport,Doha,Qatar,DOH/OTHH,37283987,2016